* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(225, 215, 215);
  place-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;
    &:hover {
      color: rgb(186, 170, 170);
    }
  }
  a.active {
    color: rgb(151, 112, 112);
  }
}

.App {
  width: 100%;
  height: 100vh;
  display: column;
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  color: rgb(38, 37, 37);
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading {
    margin: 10rem;
    padding: 4rem;
    margin: auto;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  .error {
    padding: 5rem;
    color: red;
    font-size: 2rem;
  }
  .Product {
    width: 100%;
    height: auto;
    display: column;
    border: 1px solid #ccc;
    padding: 0.4em;
    margin: 0.3em;
    img {
      padding-top: 0.5rem;
      width: 5rem;
      height: 5rem;
    }
    p {
      margin: 0;
      padding: 0;
    }
    button {
      cursor: pointer;
      width: 8rem;
      height: 2rem;
    }
  }
  .opacity {
    position: fixed;
    background: rgb(174, 158, 118);
    opacity: 0.5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .modal {
    position: absolute;
    width: 30rem;
    height: 9rem;
    top: 20%;
    background: white;
    left: 33%;
    form {
      input {
        width: 90%;
        height: 2.5rem;
        color: rgb(122, 113, 113);
      }
      button {
        color: grey;
        width: 5rem;
        height: 2rem;
        &:hover {
          color: white;
        }
      }
    }
  }
  .Add {
    position: fixed;
    color: grey;
    width: 8rem;
    height: 2.5rem;
    left: 0;
    margin-left: 1rem;
    top: 300px;
    border: none;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    &:hover {
      color: rgb(149, 137, 137);
      box-shadow: inset 0 -3em 3em white, 0 0 0 2px grey,
        0.3em 0.3em 1em rgb(190, 181, 181);
    }
  }
}
